/PaymentGateway.Test/bin/Debug/net5.0
/.vs/PaymentGateway/v16/TestStore/0
/PaymentGateway.Test/obj/Debug/net5.0
/PaymentGateway.Test/obj
/PaymentGateway/bin/Debug/net5.0
/PaymentGateway/obj/Debug/net5.0
/PaymentGateway/obj
/.vs/PaymentGateway/config
/.vs/PaymentGateway/v16
